<!-- Header Section Begin -->
<header style="position: relative; background-color:#121052; width: 100%;" class="header-section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <ul class="main-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/search">Search</a></li>
                  <li><a href="/admin_main">Login</a></li>
              </ul>
          </div>
      </div>
  </div>
</header>
<!-- Header Section End -->