<!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item d-none d-sm-inline-block">
        
        <button href="/logout" type="button" class="btn btn-block btn-sm"><a class="btn btn-block btn-outline-primary btn-sm" href="/logout">Logout</a></button>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->